# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# IDE
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
